@model IList<MovieViewModel>

@foreach (var item in Model)
{

    <div class="item-box col-lg-3 col-md-4 col-sm-12" data-itemindex="@item.ItemIndex">
        <div class="movie-item">
            <div class="picture">
                <a href="" title="Show details for Build your own computer">
                    <img alt="" src="@item.Image.PosterArt.Url" title="@item.Title" />
                </a>
            </div>

            <div class="details">
                <h4 class="movie-title">@item.Title</h4>
            </div>

        </div>
    </div>

}
